div.wrapper {
    padding: 20px;
}
header, nav, main, footer {
    margin: 20px 0;
}
div.msg{
    background-color: indianred;
    color: white;
    padding-left: 5px;
}
nav a {
    border-right: 1px dotted #DDD;
    padding: 2px 15px;
    white-space: nowrap;
}
nav a:last-child {
    border-right: none;
}
div#main-left {
    padding: 20px 20px 20px 0;
    float: left;
    width: 75%;
}
form#login {
    margin: auto;
    width: 75%;
    max-width: 550px;
}
form > div.error {
    color: indianred;
}
form > div {
    padding: 6px 0;
}
form > div > label {
    width: 32%;
}
form > div > input {
    width: 66%;
}
div#main-right {
    padding: 20px 0 20px 20px;
    float: right;
    width: 25%;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
section, article, aside {
    padding: 20px 0;
}
div.task div.title {
    cursor: pointer;
    background-color: #FBFBFB;
    font-size: 18px;
    padding: 5px;
}
div.task div.content {
    padding: 10px 0;
}
table {
    width: 100%;
    margin-bottom: 20px;
}
table.list tr:hover {
    background-color: #FBFBFB;
}
table tr td {
    padding: 5px 8px;
}
table#insert-user input[type='text'],
table#insert-user input[type='password'] {
    width: 95%;
}
table#insert-user td#roles label {
    width: 23%;
}
table#select-user tr {
    border-bottom: 1px solid #DDD;
}
img.icon {
    width: 20px;
    cursor: pointer;
}
span.menu-icon {
    display: none;
}
div#copyright {
    text-align: center;
    font-size: 11px;
}
