div.wrapper {
    padding: 20px;
}
header, nav, main, footer {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    white-space: nowrap;
}
nav a:first-child {
    margin-left: 0;
}
div#main-left {
    padding: 20px 20px 20px 0;
    float: left;
    width: 75%;
}
form#login {
    margin: auto;
    width: 75%;
    max-width: 500px;
}
form > div.error {
    color: indianred;
}
form > div {
    padding: 6px 0;
}
form > div > label {
    width: 32%;
}
form > div > input {
    width: 66%;
}
div#main-right {
    padding: 20px 0 20px 20px;
    float: right;
    width: 25%;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
section, article, aside {
    padding: 20px 0;
}
div.task div.title {
    cursor: pointer;
    background-color: beige;
    font-weight: bold;
    padding-left: 5px;
}
div.task div.content {
    padding: 20px 0 0 20px;
    background-color: azure;
}
table {
    width: 100%;
}
