@media only screen and (max-width: 450px) {
    table tr td {
        display: block;
    }
    table#insert-user td#roles label {
        width: 48%;
    }
    div.task div.content {
        padding: 10px 0 0 10px;
    }
}
