@media only screen and (max-width: 450px) {
    table tr td {
        display: block;
    }
    table#insert-user td#roles label {
        width: 48%;
    }
    nav {
        display: none;
    }
    nav a {
        display: block;
        padding: 8px;
        border-right: none;
        border-bottom: 1px dotted #DDD;
    }
    nav a:hover {
        background-color: #FBFBFB;
    }
    span.menu-icon {
        display: block;
        float: right;
        padding: 10px;
        cursor: pointer;
    }
}
