@media only screen and (max-width: 450px) {
    table tr td {
        display: block;
    }
    table#select-user td.action {
        float: right;
        padding: 12px;
    }
    table td#roles label {
        width: 48%;
    }
    nav {
        display: none;
    }
    nav a {
        display: block;
        padding: 8px;
        border-right: none;
        border-bottom: 1px dotted #DDD;
    }
    nav a:hover {
        background-color: #FBFBFB;
    }
    span.menu-icon {
        display: block;
        float: right;
        padding: 10px;
        cursor: pointer;
    }
    table input[type='text'],
    table input[type='password'] {
        width: 98%;
    }

}
