@media only screen and (max-width: 650px) {
    div#main-left, div#main-right {
        width: 100%;
        padding: 20px 0;
    }
    div#copyright {
        margin-left: 0;
        text-align: center;
    }
    form#login {
        width: 100%;
    }
    form > div > label {
        width: 100%;
    }
    form > div > input {
        width: 100%;
    }
    table input[type='text'],
    table input[type='password'] {
        width: 90%;
    }
}
